#game-board {
    /* FOR THE POSITION OF THE BOARD ITSELF ON THE PAGE */
    position: absolute;
    inset: 0;
    margin: auto;

    width: 32rem;
    height: 32rem;

    /*FOR THE POSITION OF THE ELEMENTS WITHIN THE BOARD*/
    display: grid;
    grid-template-rows: repeat(8, minmax(1rem, 4rem)); /*may have to use clamp(low, mid, max) instead of minmax to make it responsive*/
    grid-template-columns: repeat(8, minmax(1rem, 4rem));

    border: 1.5px solid black;
}

.square {
    width: 100%;
    height: 100%;

    border: 1.5px solid black;
}
